<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home page <%= 4 + 5 + 1 %> <%= "Hello world".toUpperCase() %></h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum fugiat omnis odio quia, itaque corporis doloribus sequi quas fuga sit nulla ut inventore consequuntur aliquam mollitia numquam reprehenderit dolore! Similique.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, doloremque. Impedit fuga tempora voluptatum assumenda nesciunt obcaecati, beatae temporibus libero, repudiandae voluptatibus totam eos iste aliquam non minus sint voluptas!

    </p>


</body>
</html>