body{
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #403e3e;
 
}
button{
    background: none;
    color:#ffa260;
    border: 2px solid;
    padding:1em 2em;
    font-size: 1em;
    transform: all .25s;
}

button:hover{
    border-color: #f1ff5c;
    color: wheat;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);

}