h2{
    color: #feb5b5;
    background-color: rgb(255,40, 200);
}
button{
    color: rgb(234, 180, 180);
    background-color: yellow;
}
p{
    color: rgb(188, 218, 132);
    background-color: rgb(225, 140, 28);
    
}
body{
    background-color:rgb(66, 33, 47);
}